<!DOCTYPE html>
<html>

<head>
    <title>douban yyets extension test page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="douban.css">
    <script src="jquery-3.1.0.min.js"></script>
    <script src="vue.js"></script>

</head>

<body>

    <div id="extensionWrap" class="extension_wrap">

        <div class='head'>
            <span class='name_cn'>{{name_cn}}</span>
            <span class='name_en'>{{name_en}}</span>
            <div>
                <span class='status'>{{status}}</span>
                <span class='update'>最后更新于 {{update}}</span>
            </div>

        </div>

        <!-- season nav -->

        <section class='tab'>
            <div class='tab_season'>
                <ul>
                    <li data-type={{season}} :class='{tab_season_active:curSeasonIndex==$index}' v-on:click.stop.prevent="changeSeason($event,$index)" v-for='season in seasons'>{{season}}</li>
                </ul>
            </div>

            <div class='tab_resolution'>
                <ul>
                    <li data-type={{resolution}} :class='{tab_resolution_active:curResolutionIndex==$index}' v-on:click.stop.prevent="changeResolution($event,$index)" v-for='resolution in resolutions'>{{resolution.toUpperCase()}}</li>
                </ul>
            </div>
        </section>

        <!-- download link content -->

        <section class="download_link">
            <ul>
                <li v-for="link in links">
                    <span>{{link.name}}</span>
                    <span>{{link.link}}</span>
                </li>
            </ul>


        </section>






    </div>









    <script src="testData.js"></script>
    <script src="douban.js"></script>
</body>

</html>
